/*Fonts Used*/

@font-face {
    font-family: MinecraftEvenings;
    src: url(fonts/MinecraftEvenings.ttf);
}

/*The Styles*/

body {
    background-color: #98C5C8;
}

#title_bar {
    text-align: center;
    font-size: 3.5em;
    margin: 1;
    height: 50px;
    width: auto;
    color: #9E9E9E;
    font-family: 'MinecraftEvenings';
    text-shadow: 3px 3px 5px #323232, -6px 3px #424242, -5px 5px #4B4B4B;
}

#box {
    box-shadow: -5px 3px #323232;
    margin: 20px;
    height: 400px;
    background-color: #6B6B6B;
    border-radius: 1%;

}

}